<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 定义本次Dubbo服务的提供者的应用程序名称 -->
	<dubbo:application name="${dubbo.application.name}" />
	<!-- 在进行Dubbo服务注册的时候一定要将服务注册到ZooKeeper之中 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
	<!-- 通过注册中心去引入远程接口实现类 -->
	<dubbo:reference id="messageInstance"
		interface="cn.mldn.mldndubbo.service.IMessageService" version="${dubbo.interface.version}"
		loadbalance="random" cluster="failsafe" retries="5" mock="true" check="false" />
	<!-- <dubbo:reference id="messageInstance" interface="cn.mldn.mldndubbo.service.IMessageService" 
		version="${dubbo.interface.version}" loadbalance="random" cluster="failsafe" 
		retries="5" url="dubbo://192.168.31.247:9329/cn.mldn.mldndubbo.service.IMessageService"/> -->
	<dubbo:reference id="deptInstance"
		interface="cn.mldn.mldndubbo.service.IDeptService" version="${dubbo.interface.version}" />
	<dubbo:reference id="memberInstance"
		interface="cn.mldn.mldndubbo.service.IMemberService" version="${dubbo.interface.version}" />
</beans>
